# ===========================
# Dependencies
# ===========================

**/node_modules/

# ===========================
# Environment Variables
# ===========================

**/.env

# ===========================
# Logs
# ===========================

*.log
npm-debug.log*

# ===========================
# macOS
# ===========================

.DS_Store

# ===========================
# Build Files
# ===========================

dist/
build/

# ===========================
# Coverage
# ===========================

coverage/

# ===========================
# IDE
# ===========================

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json